/**** NavBar ****/

.navbar {
    margin-top: 0;
    padding-top: 0;
    height: 60px;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.navbar_wrap {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.left_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    
}
.vector {
position: relative;
}

.live{
position: absolute;
transform: translate(30%, 22%);
}

.circleads {
    position: relative;
}

.ads{
    position: absolute;
    transform: translate(20%,20%)

}

.rectangleads{
    position: absolute;
    transform: translate(7px);

}

.left_content > span {
    text-align: center;
    font-family: Raleway;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.14px;
    background: linear-gradient(122deg, #0096FF 42.14%, #0048FF 96.70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left_content > label {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}

.left_content > div >select {
    border: none;
    
}

.right_content {
    display: flex;
    gap: 10px;
        
    
}

.right_content > input {
    border: none;
    background-image: url(./assets/searchicon.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
}


.login {
    background: transparent;
    border: none;
    padding: 10px 42px;

}

.join_now {
    display: flex;
    height: 40px;
    padding: 10px 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 52px;
    background: linear-gradient(224deg, #0048FF 0%, #0096FF 100%);
    border: none;
    color: #fff;
}

/**** NavBar ****/

/**** Home ****/
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    height: max-content;
    width: 100%;
}

.home_content {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

.home_left {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 50px;
    font-weight: 600;
    gap: 44px;
}

.heading_style {
    display: flex;
}



.pointer{
    display: flex;
    flex-direction: column;
    gap: 44px;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400p;
    line-height: 100%;
}
.pointer span {
    display: flex;
    align-items: center;
     gap: 60px;
}



.points {
    display: flex;
    align-items: center;
    gap: .25em;
    width: 100%;
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.96px;

}

.custom_text {
    color: #0096FF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: 0.96px;
}
.custom_text_heading {
    position: relative;
    color: #0096FF;
    font-family: Roboto;
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 32px */
    letter-spacing: 0.96px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.home_right {
    background-color: #ffffff;
    /* height: 200px; */
    /* width: 40%; */
    /* height: auto; */
    /* width: 549px; */
    border-radius: 8px;
    color: #3C4852;
    padding: 16px 24px;
    display: flex;
    width: 549px;
    flex-direction: column;
    /* background-color: #000; */
    /* height: auto; */
    /* gap: 28px; */
    gap: 24px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.amount {
    position: relative; 
    padding-right: 0.25em;

}
.cut{
    position: absolute;
    top: 90px;
    transform: translateX(40px);
    width: 160px;
    height: 8px;
    background-color: red;
    z-index: 99;
}

/* Right Section */


.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle {
    color: #fff;
    display: flex;
    border-radius: 50%;
    background-color: #0096FF;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    margin-left:20px ;
    
}

.signup:nth-child(1) p {
    transform: translate(7px, 5px);
}
.signup:nth-child(2) p{
    transform: translate(5px, 5px);
}

.subcription_header {
    align-self: stretch;
    width: 100%;
    color: #3C4852;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.text_field  {
    position: relative;
    display: flex;
    padding: 12px ;
    align-items: center;

    align-self: stretch;
    justify-content: space-between;
    border-radius: 4px;
    border: 2px solid #BEBEBE;

}
.text_field_disabled {
position: relative;
display: flex;
padding: 12px ;
align-items: center;
gap: 8px;
align-self: stretch;
justify-content: space-between;
border-radius: 4px;
border: 2px solid #BEBEBE;
background: #E7E7E7;
accent-color: gray;
}
.text_field input {
    width: 28px;
    height: 28px;
}
.text_field_disabled input {
    width: 28px;
    height: 28px;
}

.text_field:hover {
    cursor: pointer;
}
.left_text {
    display: flex;
    gap: 8px;
    color: #BEBEBE;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    justify-content: start;
    align-items: center;

    
}

.right_text {
    color: #BEBEBE;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.banner_disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 52px;
    width: 100px;
    border-radius: 0px 0px 4px 4px; 
    background: #F77171;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
}

.recommended {
    border-radius: 4px;
    border: 2px solid #47BA68;
    background: #D7EDDD;

}



.recommended .left_text {
    color: #3C4852;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
}
.banner_enabled {
    color: #fff;
    width: 100px;
    border-radius: 0px 0px 4px 4px; 
    position: absolute;
    display: flex;
    top: 0;
    left: 52px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background: #47BA68;
    font-size: 12px;
    
}

.enabled p {
    color: #3C4852;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 600;
}

.subcription_fee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    border-top: 2px solid #BEBEBE;
    background: #FFF;
}

.subcription_text {
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: #3C4852;
    text-align: center; 
    font-size: 14px; 
    font-weight: 400;
}
.limited_offer{
    display: flex;
    width: 100%;
    align-self: center;
    padding: 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    border: solid 2px;
    border-image: linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.10%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%) 1;
    background: linear-gradient(135deg, rgba(222, 67, 19, 0.20) 0%, rgba(222, 67, 19, 0.20) 0.75%, rgba(222, 67, 19, 0.20) 2.92%, rgba(222, 68, 20, 0.20) 6.37%, rgba(223, 69, 21, 0.20) 10.97%, rgba(223, 72, 22, 0.20) 16.59%, rgba(224, 75, 24, 0.20) 23.10%, rgba(225, 80, 27, 0.20) 30.37%, rgba(227, 86, 31, 0.20) 38.27%, rgba(229, 94, 36, 0.20) 46.66%, rgba(231, 104, 43, 0.20) 55.41%, rgba(235, 117, 51, 0.20) 64.39%, rgba(238, 132, 60, 0.20) 73.47%, rgba(243, 149, 71, 0.20) 82.52%, rgba(248, 169, 84, 0.20) 91.41%, rgba(254, 193, 99, 0.20) 100%);
}


.alert_left{
    color: #DE4313;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.offer_validity {
    display: flex;
    align-items: center;
    color: #DE4313;
    gap: 6px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%; 
}


.alert_header {
    display: flex;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    }

.offer_validity img {
    width: 20px;
    height: 20px;
    fill: #DE4313;
}



.total_text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px 24px;    */
}


.total_right {
color: #3C4852;
text-align: center;
font-size: 20px;
font-weight: 600;
letter-spacing: 0.72px;
}

.button_group {
    display: flex;
    gap: 8px;
    height: 56px;
    justify-content: center;
    align-items: center;
}

.button_group button {
    display: flex;
height: 50px;
justify-content: center; 
align-items: center;

text-align: center; 


font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase; 
flex: 1 0 0;

}
.primary_button {
    border: none;
color: #FFF;
    border-radius: 4px;
background: #47BA68;
}

.secondary_button {
    border-radius: 4px;
border: 2px solid #F77171 ;
color: #F77171 ;

background-color: transparent;
}

.logo {
    align-self: flex-start;
    /* margin-top: 20px; */
}


.right_text p:first-child {
    font-size: 12px ;
}
.right_text p:nth-child(2) {
    font-size: 10px ;
}
/**** Home ****/



/* text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase; */